<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link href='https://fonts.googleapis.com/css?family=Andika|Anonymous+Pro|Arimo|Bad+Script|Comfortaa|Cousine|Cuprum|Didact+Gothic|EB+Garamond|Exo+2|Forum|Istok+Web|Jura|Kelly+Slab|Ledger|Lobster|Lora|Marck+Script|Marmelad|Neucha|Noto+Sans|Noto+Serif|Open+Sans|Open+Sans+Condensed:300|Oranienbaum|PT+Mono|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|PT+Serif+Caption|Philosopher|Play|Playfair+Display|Playfair+Display+SC|Poiret+One|Press+Start+2P|Prosto+One|Roboto|Roboto+Condensed|Roboto+Slab|Ruslan+Display|Russo+One|Scada|Tenor+Sans|Tinos|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono|Underdog|Yeseva+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Abel|Alegreya|Alex+Brush|Anton|Asap|Baumans|Comfortaa|Crafty+Girls|Days+One|Delius+Unicase|Exo|Euphoria+Script|Federo|Glegoo|Gudea|Handlee|Kranky|Krona+One|Leckerli+One|Lobster|Marko+One|Marmelad|Merienda+One|Neucha|Noticia+Text|Nova+Flat|Nova+Oval|Nova+Round|Nova+Slim|Nunito|Original+Surfer|Pacifico|Philosopher|Quicksand|Rochester|Rokkitt|Salsa|Satisfy|Snippet|Sofia|Stint+Ultra+Expanded|Syncopate|Dosis|Trochut|Unkempt|Voces&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'OpenSansLight.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fonts.css' %}">   	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />

<title>Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар</title>
<meta name="title" content="Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар" />
<meta name="keywords" content="" />
<meta name="description" content="Cyxodol - интернет-магазин японской пряжи рафии для вязания, а также готовые вязаные шляпы из рафии,  схемы и аксессуары для вязания." />
<meta name="image" content="" />

    <meta property="og:title" content="Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар" />
    <meta property="og:description" content="Cyxodol - интернет-магазин японской пряжи рафии для вязания, а также готовые вязаные шляпы из рафии, схемы и аксессуары для вязания." />
    <meta property="og:url" content="http://cyxodol.com/" />
    <meta property="og:type" content="website" />
    	<meta property="og:image" content="http://cyxodol.com/storage/logo/u-aa10cba5c6b681d1db8caf194023e1f7.jpeg" />


<meta name="author" content="">
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'elements.css' %}">


<!-- Blog RSS -->



<!--[if lt IE 9]>
	<script type="text/javascript" src="http://cdn.web01.vigbo.com/saas-v2/prod/core/v02/scripts/vendor/html5shiv.min.js"></script>
<![endif]-->

    <script type="text/javascript">
   /* window.qbaka||function(e,t){var n=[];var r=e.qbaka=function(){n.push(arguments)};e.__qbaka_eh=e.onerror;e.onerror=function(){r("onerror",arguments);if(e.__qbaka_eh)try{e.__qbaka_eh.apply(e,arguments)}catch(t){}};e.onerror.qbaka=1;r.sv=2;r._=n;r.log=function(){r("log",arguments)};r.report=function(){r("report",arguments,new Error)};var i=t.createElement("script"),s=t.getElementsByTagName("script")[0],o=function(){s.parentNode.insertBefore(i,s)};i.type="text/javascript";i.async=!0;i.src=("https:"==t.location.protocol?"https:":"http:")+"//cdn.qbaka.net/reporting.js";typeof i.async=="undefined"&&t.addEventListener?t.addEventListener("DOMContentLoaded",o):o();r.key="1d6827b47ddbd08d8119cf732bf09130"}(window,document);qbaka.options={autoStacktrace:1,trackEvents:1};*/
    </script>

	<script>
var mediaQuery = "(-webkit-min-device-pixel-ratio: 1.5),\
                  (min--moz-device-pixel-ratio: 1.5),\
                  (-o-min-device-pixel-ratio: 3/2),\
                  (min-resolution: 1.5dppx)";
var retina = ((window.devicePixelRatio > 1) || (window.matchMedia && window.matchMedia(mediaQuery).matches)) ? true : false;
var retinaLogo = function(el) {
    if (retina == true) {
        var el = $(el);
        if (el.attr("data-src2x")) {
            el.attr("src", el.attr("data-src2x"));
        }
        else {
            el.attr("src", el.attr("data-src"));
        }
        if (el.attr("data-width2x")) {
            el.attr("width", el.attr("data-width2x"));

            if($("body").hasClass("kevin") /*&& ($("body").hasClass("tablet") || $("body").hasClass("mobile") )*/){
                el.css("max-width", el.attr("data-width2x") + 'px');
            }
        }
    }
    else {
        var el = $(el);
        if (el.attr("data-src")) {
            el.attr("src", el.attr("data-src"));
        }
    }
}
</script>
	<link rel="stylesheet" type="text/css" href="{% static 'fontello.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'lenta.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/css/base.css?v=2.20">
	<link rel="stylesheet" type="text/css" href="{% static 'elements.css' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/css/elements.css?v=2.20">
	<link rel="stylesheet" type="text/css" href="{% static 'layouts.css' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/css/layouts.css?v=2.20">
	<link rel="stylesheet" type="text/css" href="{% static 'pages.css' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/css/pages.css">
	<link rel="stylesheet" type="text/css" href="{% static 'social-icons.css' %}http://cdn.web01.vigbo.com/saas-v2/prod/core/v02/css/social-icons.css?v=2.20">
    <link rel="stylesheet" type="text/css" href="{% static 'share.css' %}http://cdn.web01.vigbo.com/saas-v2/prod/core/v02/css/share.css">


    <!-- Composite CSS -->

    <script src="{% static 'jQuery.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/jquery-1.9.1.min.js?v=3.25.7.10"></script>
    <script src="{% static 'raphael.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/raphael-min.js?v=3.25.7.10"></script>
    <script src="{% static 'spinners.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/spinners.min.js?v=3.25.7.10"></script>
    <script src="{% static 'jquery.defaultvalue.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/jquery.defaultvalue.js?v=3.25.7.10"></script>
    <script src="{% static 'jquery.mousewheel.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/jquery.mousewheel.js?v=3.25.7.10"></script>
    <script src="{% static 'jquery.loading-queue.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/jquery.loading-queue.min.js?v=3.25.7.10"></script>
    <script src="{% static 'downloadExternalJS.js' %}http://cdn.web01.vigbo.com/saas-v2/prod/core/v02/scripts/downloadExternalJS.js?v=3.22"></script>

        <link rel="stylesheet" type="text/css" href="http://cyxodol.com/css/custom.css?v=17" />

    	<link rel="stylesheet" type="text/css" href="http://cdn.web01.vigbo.com/saas-v2/prod/core/v02/css/global-shop.css?v=4.5">
    <link rel="stylesheet" type="text/css" href="http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/css/shop.css">
    <link rel="stylesheet" type="text/css" href="http://cyxodol.com/css/custom-shop.css?v=17" />
