{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row py-3">
<hr class="float-left" width=45%>
<span class="py-1">КОНТАКТЫ</span>
<hr class="float-right" width=45%>
</div>

<div class="container">

<p class="text-justify">Если что-то пошло не так или у вас есть вопросы/предложения/просьбы, мне можно написать на <strong>cyxodol@gmail.com</strong>  или воспользоваться формой ниже, и я обязательно отвечу).</p>
<form class="" action="" method="post">

  <div class="row">
    <div class="col-12">
      {{ form.name|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{ form.email|as_crispy_field }}
    </div>
    <div class="col-6">
      {{ form.phone_number|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{ form.message|as_crispy_field }}
    </div>
  </div>

  {% csrf_token %}
  <input type="submit" class="btn btn-primary" name="" value="Отправить отзыв">
</form>

</div>

{% endblock %}
