{% extends 'base.html' %}

{% block content %}

<div class="mx-0">
<div class="row py-3">
<hr class="float-left ml-0" width=46%>
<span class="py-1">ОТВЕТЫ</span>
<hr class="float-left mr-0" width=46%>
</div>
</div>

<div class="container">

  <h4>КАК СДЕЛАТЬ ЗАКАЗ</h4>
  <p class="text-justify">Чтобы сделать заказ на сайте, вам нужно выбрать понравившийся товар или схему, нажать на него и добавить его в корзину. После перейти во вкладку "Корзина" - в мобильной версии корзина спрятана за тремя полосками в верхнем правом углу, отредактировать количество выбранного товара и выбрать способ доставки и оплаты. После того, как все данные будут заполнены, нажать кнопку "Оформить покупку". </p>
  <p class="text-justify">После вы перейдете к оплате с помощью банковской карты или получите письмо с дальнейшими инструкциями, если выбрали самовывоз.</p>
  <h4>ОПЛАТА ЗАКАЗА</h4>
  <p class="text-justify">Мы предлагаем вам следующие варианты оплаты:</p>
  <ul>
    <li>Сбербанк онлайн</li>
    <li>Альфа клик</li>
    <li>оплата банковской картой </li>
    <li>оплата через систему Яндекс-Деньги</li>
  </ul>
  <h4>ДОСТАВКА ЗАКАЗА</h4>
  <ul>
    <li>самовывоз в Краснодаре (будни: вечер район авиагородок, днем по договоренности в районе улица Красной)</li>
    <li>почтовое отправление по России почтой</li>
    <li>почтовое отправление за пределы России рассчитывается индивидуально</li>
    <p>Посылки отправляются три раза в неделю.</p>
  </ul>
  <h4>СХЕМЫ</h4>
<p><em>В каком виде я получу схему?</em></p>
  <p class="text-justify">Мы отправляем схемы в виде PDF файлов на электронный адрес, который вы указали при заказе.</p>
<p><em>Указано ли в схеме из чего и чем вязать?</em></p>
  <p class="text-justify">В каждой схеме даны рекомендации по инструментам и материалам, в случае, если у вас сохранятся или возникнут вопросы, пишите их на cyxodol@gmail.com с темой письма "вопрос схема (название схемы)" и мы постараемся максимально быстро разрешить все ваши сомнения.</p>
<p><em>В схеме указана шерсть, могу ли я вязать из хлопка (льна, рафии и т.д.)?</em></p>
  <p class="text-justify">Все схемы просчитаны и прописаны для определенного материала и определенной плотности вязания, в случае, если вы будете использовать другой материал или ваша плотность вязания не совпадает с указанной в схеме, результат может получиться непредсказуемый. Вы можете экспериментировать и доводить схему до совершенства с использованием другого материала, но к сожалению, я не смогу пересчитывать под вас схему, в том случае, если вы выбираете другой тип пряжи.</p>
<p><em>Вы не прописываете в схеме размеры тех или иных деталей,  вяжу с другой плотность (из другой пряжи) какой диаметр у донышка/высота у тульи?</em></p>
  <p class="text-justify">В описание есть абсолютно вся информация для того, чтобы узнать данные значения. У вас есть моя плотность вязания и вам остается лишь разделить интересующее вас количество рядов или петель на мою плотность.
</p>
<p><em>Я связала шляпу, она оказалась очень большой (очень маленькой), что делать?</em></p>
  <p class="text-justify">В случае, если шляпа вам оказалось мала, вам необходимо добавить в донышке дополнительные ряды с прибавками. Просчитайте вашу плотность вязания, определите сколько сантиметров не хватает вашей шляпе в объеме и какому количеству петель соответствует это расхождение. Практически все схемы построены на арифметической прогрессии, в них сохраняется четкий алгоритм прибавок, если вы увеличите донышко, ничего страшного не произойдет, вы без труда свяжете поля шляпы. Если вам мала шляпа Федора, вам необходимо добавлять недостающие прибавки в районе задней части шляпы, между двумя крайними прибавками (внутри последнего ряда с прибавками или добавив новый ряд с прибавками).</p>
  <p class="text-justify">В случае, если шляпа вам велика, проделайте обратные действия, не провязывайте последний ряд с прибавками, сделав его первым рядом полей.</p>
<p><em>Я связала шляпу, но поля не держатся, что делать?</em></p>
<p class="text-justify">Если вы уверены, что проблема не в выборе пряжи (она должна быть высокообъемной, но не тяжелой: полушерсть, шерсть ровница или шерсть очень слабой скрутки), то вы можете прибегнуть для начала к помощи регилина (армированная леска, продается в швейных магазинах). Ввяжите один или несколько усиков регилина в крайний ряд. Так же, вы можете прибегнуть к использованию текстильного клея или специализированных пропиток для шерсти.  Но как правило, если материал выбрать верно, регилина будет достаточно.</p>
<hr>
<p class="text-justify">Если у вас по-прежнему есть вопросы, задайте их, написав сюда <strong>cyxodol@gmail.com</strong> </p>
</div>

{% endblock %}
