{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="parallax-banner-div">
  <img class="parallax-banner-img" src="{% static 'images/background.jpg' %}" alt="">
</div>
<div class="content">

  <div class="row py-3">
  <hr class="float-left" width=45%>
  <span class="py-1">CYXODOL</span>
  <hr class="float-right" width=45%>
  </div>
<div class="container text-center py-4">
  <h3>Cyxodol - вязаные шляпы из рафии, схемы и инструкции для вязания.
</h3>
<p>Вся линия готовых шляп и аксессуаров с самого начала и по сей день, реализуется силами одного человека – Вали Гришиной – меня, в связи с этим объемы производства маленькие, а изделия - лимитированные.
</p>
<p>Идею вязаных крючком шляп я почерпнула у японцев, и хотя сейчас все головные уборы Cyxodol - авторские, пряжу для них я и сегодня закупаю в стране восходящего солнца. ​
</p>

</div>


</div>

{% endblock %}
