{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row py-3">
<hr class="float-left" width=45%>
<span class="py-1">ОПТ</span>
<hr class="float-right" width=45%>
</div>

<div class="container">


<p class="text-justify">Одним из направлений работы нашего проекта CYXODOL является оптовая продажа японской пряжи и инструментов для рукоделия. Мы являемся официальными дистрибьюторами компании Hamanaka, которые в свою очередь, являются номером один в производстве пряжи для вязания шляп и сумок - есо Andaria.</p>
<p class="text-justify">Приглашаем к сотрудничеству магазины и студии!</p>
<p class="text-justify">Для ознакомления с условиями закупки напишите нам письмо на cyxodol@gmail.com и не забудьте указать:</p>
<ol>
  <li>название вашего магазина</li>
  <li>город</li>
  <li>ссылка на сайт или соц.сети</li>
  <li>ваши реквизиты</li>
</ol>
<p class="text-justify">Поставки из Японии приходят к нам каждую неделю.

Начните продавать рафию уже в этом месяце!</p>
<div class="text-center">
  <img src="{% static 'images/Opt.JPG' %}" alt="">
</div>
</div>

{% endblock %}
