<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <link href='{% static "fonts/font1.css" %}' rel='stylesheet' type='text/css'>
<link href='{% static "fonts/font2.css" %}' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/OpenSansLight.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">   	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />

<title>Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар</title>
<meta name="title" content="Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар" />
<meta name="keywords" content="" />
<meta name="description" content="Cyxodol - интернет-магазин японской пряжи рафии для вязания, а также готовые вязаные шляпы из рафии,  схемы и аксессуары для вязания." />
<meta name="image" content="" />

    <meta property="og:title" content="Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар" />
    <meta property="og:description" content="Cyxodol - интернет-магазин японской пряжи рафии для вязания, а также готовые вязаные шляпы из рафии, схемы и аксессуары для вязания." />
    <meta property="og:url" content="http://cyxodol.com/" />
    <meta property="og:type" content="website" />
    	<meta property="og:image" content="{% static 'images/logo.jpg' %}" />


<meta name="author" content="">
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/elements2.css' %}">


<!-- Blog RSS -->



<!--[if lt IE 9]>
	<script type="text/javascript" src="http://cdn.web01.vigbo.com/saas-v2/prod/core/v02/scripts/vendor/html5shiv.min.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
   /* window.qbaka||function(e,t){var n=[];var r=e.qbaka=function(){n.push(arguments)};e.__qbaka_eh=e.onerror;e.onerror=function(){r("onerror",arguments);if(e.__qbaka_eh)try{e.__qbaka_eh.apply(e,arguments)}catch(t){}};e.onerror.qbaka=1;r.sv=2;r._=n;r.log=function(){r("log",arguments)};r.report=function(){r("report",arguments,new Error)};var i=t.createElement("script"),s=t.getElementsByTagName("script")[0],o=function(){s.parentNode.insertBefore(i,s)};i.type="text/javascript";i.async=!0;i.src=("https:"==t.location.protocol?"https:":"http:")+"//cdn.qbaka.net/reporting.js";typeof i.async=="undefined"&&t.addEventListener?t.addEventListener("DOMContentLoaded",o):o();r.key="1d6827b47ddbd08d8119cf732bf09130"}(window,document);qbaka.options={autoStacktrace:1,trackEvents:1};*/
    </script>

	<script>
var mediaQuery = "(-webkit-min-device-pixel-ratio: 1.5),\
                  (min--moz-device-pixel-ratio: 1.5),\
                  (-o-min-device-pixel-ratio: 3/2),\
                  (min-resolution: 1.5dppx)";
var retina = ((window.devicePixelRatio > 1) || (window.matchMedia && window.matchMedia(mediaQuery).matches)) ? true : false;
var retinaLogo = function(el) {
    if (retina == true) {
        var el = $(el);
        if (el.attr("data-src2x")) {
            el.attr("src", el.attr("data-src2x"));
        }
        else {
            el.attr("src", el.attr("data-src"));
        }
        if (el.attr("data-width2x")) {
            el.attr("width", el.attr("data-width2x"));

            if($("body").hasClass("kevin") /*&& ($("body").hasClass("tablet") || $("body").hasClass("mobile") )*/){
                el.css("max-width", el.attr("data-width2x") + 'px');
            }
        }
    }
    else {
        var el = $(el);
        if (el.attr("data-src")) {
            el.attr("src", el.attr("data-src"));
        }
    }
}
</script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lenta.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/elements.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layouts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/social-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/share.css' %}">


    <!-- Composite CSS -->

    <!-- <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/raphael.js' %}"></script>
    <script src="{% static 'js/spinners.js' %}"></script>
    <script src="{% static 'js/jQuery.defaultvalue.js' %}"></script>
    <script src="{% static 'js/jQuery.mousewheel.js' %}"></script>
    <script src="{% static 'js/jQuery.loading-queue.js' %}"></script>
    <script src="{% static 'js/downloadExternalJS.js' %}"></script> -->

        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    	<link rel="stylesheet" type="text/css" href="{% static 'css/global-shop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-shop.css' %}">

    <!-- Google Analytic -->
<script>
    var _gaq = _gaq || [];
    _gaq.push = function(a) { ga('send', 'event', a[1], a[2]); };
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75841458-1', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

   </head>

<body class="desktop loading locale_ru suliko" data-preview="">


	<div class="page desktop">
                   <header class="layout-logo-center">
	<div class="container stay-max-width">
	<div class="inner" data-infostripe-width>
		<div class="logo logo-image">
	<a href="http://cyxodol.com/">
		                            <img
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                    data-src="{% static 'images/logo.jpg' %}"
                    data-width2x="205"
                    alt=""
                    title=""
                    class=""
                />

            <script>retinaLogo('.logo img');</script>
        	</a>
</div>
<nav class="menu"><ul>
  <li class="menu-item"><a href="http://cyxodol.com/about"  >О НАС</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"><a href="{% url 'store:products' %}"  >МАГАЗИН</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"> <a href="{% url 'blog:posts_list' %}"  >БЛОГ</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"><a href="http://cyxodol.com/faq"  >ОТВЕТЫ</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"><a href="http://cyxodol.com/contact">КОНТАКТЫ</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"><a href="http://cyxodol.com/feedback"  >ОТЗЫВЫ</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"><a href="http://www.ravelry.com/designers/valentina-grishina" rel="ext noopener noreferrer" target="_blank">RAVELRY</a></li>
  <li class="menu-item separator">|</li>
  <li class="menu-item"><a href="http://cyxodol.com/opt"  >ОПТ</a></li>
  <li class="menu-item separator">|</li>
  {% if request.user.is_authenticated %}
  <li class="menu-item"> <a href="{% url 'logout' %}">LOGOUT</a></li>
  {% else %}
  <li class="menu-item"> <a href="{% url 'login' %}">LOGIN</a></li>
  {% endif %}
</ul>
</nav>
</div>
</div>

</header>
        <script>
            $(document).ready(function(){
                if ($('.parallax-banner').length) {
                    $('.parallax-banner').addClass("size-auto");
                    $('.parallax-banner').data('add-class', "size-auto")

                    $('head').append('<style class="parallax-banner-max-height">.parallax-banner.size-cover { max-height: ' + ($(window).width() / $('.parallax-banner').data('width') * $('.parallax-banner').data('height')) + 'px; }</style>');

                                    }
            });
        </script>

		<div>
      <img src="{% static 'images/background.jpg' %}" alt="" width="100%"
      height="600">
	</div>
  <!-- <div class="parallax-banner loading"
style="background-image: '{% static 'images/background.jpg' %}'"
data-width="2000"
data-height="800">
</div> -->

<section class="page" data-hash="glavnaja" data-structure="page">
	<h1 class="title">
    <hr class="left-hr"/><span>cyxodol</span><hr class="right-hr"/>
</h1>
<div class="container">
{% block content %}
{% endblock %}
</div>
</section>

<div class="right-panel">
	<div class="scroll-top-btn">
		<span class="ico-open-svg">
			<svg height="15" width="25" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 15">
				<path fill="#4c4c4c" fill-rule="evenodd" d="M 0.01 14.05 C 0.01 14.05 1.06 15 1.06 15 C 1.06 15 12.51 2.13 12.51 2.13 C 12.51 2.13 23.95 15 23.95 15 C 23.95 15 25 14.05 25 14.05 C 25 14.05 12.51 0.01 12.51 0.01 C 12.51 0.01 0.01 14.05 0.01 14.05 Z" />
			</svg>
		</span>
	</div>
</div>

    <footer>
        <div class="container">
            <div class="share-box">
                            </div>
                        <div class="social-icons">
                <style>

</style>
<div class="social-icons-wrapper">
			<div class="social-icon-box">
			<a href="https://www.instagram.com/cyxodol/" target="_blank" rel="noopener noreferrer"><i class="icon-instagram"></i></a>
		</div>
	</div>            </div>
                        <div class="copyright">
                <span class="photographer-copyright"><div style="text-align: center;"><span style="color:#696969;">&copy;&nbsp;cyxodol by Valentina Grishina, 2016-2018&nbsp;&nbsp;</span></div>

<div style="text-align: center;"><a href="http://www.cyxodol.com/politika-konfedentsialnosti" target="_blank"><span style="color:#696969;">политика конфеденциальности</span></a><br />
<a href="http://www.cyxodol.com/dogovor-oferta" target="_blank"><span style="color:#696969;">договор-оферта</span></a><br />
&nbsp;</div>
</span> <br> <a href="https://vigbo.com/?utm_source=clientsites&utm_medium=footer&utm_campaign=copywright" target="_blank" rel="noopener noreferrer">сайт от vigbo</a>
            </div>
        </div>
    </footer>



	</div>

    <script>
        window.cdn_paths = window.cdn_paths || {};
        window.cdn_paths.modules = 'http://cdn.web01.vigbo.com/saas-v2/prod/core/modules/';
        window.cdn_paths.storage = "http://static0.vigbo.com/u14553/17713/";
        window.cdn_paths.site_scripts = 'http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/' + 'scripts/';
        var require = {
            urlArgs : "v=3.25.7.10"
        };
    </script>

	<script data-main="http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/site/config" src="http://cdn.web01.vigbo.com/saas-v2/prod/suliko/site/scripts/vendor/require.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these http requests do not require csrf protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings){
      if (!csrfSafeMethod(settings.type) && !this.crossDomain){
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
	    </body>

</html>
