<!DOCTYPE html>
{% load static %}
{% load thumbnail %}
<html lang="ru">
<head>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE; chrome=1" />

<title>Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар</title>
<meta name="title" content="Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар" />
<meta name="keywords" content="" />
<meta name="description" content="Cyxodol - интернет-магазин японской пряжи рафии для вязания, а также готовые вязаные шляпы из рафии,  схемы и аксессуары для вязания." />
<meta name="image" content="" />

    <meta property="og:title" content="Вязаные шляпы из рафии купить в Краснодаре | Cyxodol японская пряжа рафия для вязания Краснодар" />
    <meta property="og:description" content="Cyxodol - интернет-магазин японской пряжи рафии для вязания, а также готовые вязаные шляпы из рафии, схемы и аксессуары для вязания." />
    <meta property="og:url" content="http://cyxodol.com/" />
    <meta property="og:type" content="website" />
    	<meta property="og:image" content="{% static 'images/logo.jpg' %}" />


<meta name="author" content="">
<meta name="viewport" content="width=device-width, user-scalable=no" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body>
<div id="header">
<div class="container text-center">
<a href="{% url 'flatpages:index' %}"><img src="{% static 'images/logo.jpg' %}" alt=""></a>

</div>
  <div class="container justify-content-center">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">
    <img src="{% static 'images/logo.jpg' %}" width="130" height="50" alt="">
  </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flatpages:about_us' %}">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:products' %}">Магазин</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:posts_list' %}">Блог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flatpages:faq' %}">Ответы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flatpages:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback:feedback' %}">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://www.ravelry.com/designers/valentina-grishina">Ravelry</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'flatpages:opt' %}">Опт</a>
        </li>
          {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cart" href="{% url 'cart:cart_details' %}">Корзина({{ cart|length }})</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>
</div>



{% block content %}
{% endblock %}

<div class="container-fluid footer">
<hr>
<div class="text-center">
  <p>© cyxodol by Valentina Grishina, 2016-2018</p>
  <p>политика конфеденциальности</p>
  <p>договор-оферта</p>
</div>


</div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these http requests do not require csrf protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings){
      if (!csrfSafeMethod(settings.type) && !this.crossDomain){
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}

    });
    $(window).bind('scroll',function(e){
      parallaxScroll();
    });

    function parallaxScroll(){
      var scrolled = $(window).scrollTop();
      // $('#header').css('top',(0+(scrolled*1))+'px');
      $('.parallax-banner-div').css('top',(-100+(scrolled*0.2))+'px');
      // $('.content').css('top',(0-(scrolled*1))+'px');
    }
  </script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
